* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  /* Scroll suave */
  scroll-behavior: smooth;
  /* Scroll suave */
}
@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Beau+Rivage&family=Bebas+Neue&family=Comfortaa:wght@600&family=Festive&family=Grape+Nuts&family=Montserrat:wght@400;900&family=Ms+Madi&family=Nunito&family=Nunito+Sans&family=Open+Sans:wght@400;500;600&family=Oswald:wght@200;700&family=Poppins:wght@300;500&family=Quintessential&family=Roboto+Condensed:wght@400;700&family=RocknRoll+One&family=Smooch+Sans:wght@200&family=Spectral:wght@700&family=Updock&family=Vollkorn:wght@500&family=Water+Brush&display=swap");

body {
  background-color: #e2eff4;
}

header {
  position: fixed;
  top: 0px;
  z-index: 9999999;
  width: 100%;
  height: 5rem;
  background-color: #128596;
}

.wrap {
  max-width: 1900px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fig-logo {
  width: 150px;
  height: 80px;
  text-align: center;
}

.fig-logo img {
  width: 80px;
}

.fig-btn {
  display: none;
}

.navigation {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  width: 600px;
  height: 100%;
}

.navigation ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation ul li a {
  text-decoration: none;
  color: #e2eff4;
  font-size: 1.2rem;
}

input {
  background-image: url("Imagens/lupa.png");
  background-repeat: no-repeat;
  background-position: 7% center;
  background-size: 10%;
  padding: 0.5rem;
  border-radius: 100px;
  border: 2px solid black;
}

.background {
  background-color: #ffe5ac;
  width: 100%;
  padding-top: 100px;
}

.contain {
  width: 100%;
  position: relative;
}

.box-img {
  text-align: center;
}

.box-img img {
  width: 560px;
  height: 560px;
  object-fit: cover;
}

.box-information {
  width: 50%;
  top: 4rem;
  left: 2rem;
  position: absolute;
}

.box-information h1 {
  color: #128596;
  font-size: 5rem;
}

.box-information ul {
  width: 60%;
  list-style: none;
}

.box-information ul li {
  margin-top: 0.3rem;
  width: 100%;
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
  color: #d56e0e;
  font-size: 1.2rem;
}

.box-information ul li:hover {
  background-color: #febd81;
  color: #db7948;
}

.box-history {
  background-color: #e2eff4;
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.box-history h2 {
  font-size: 2.5rem;
  color: #128596;
}

.line {
  opacity: 0.3;
  background-color: #698996;
  width: 320px;
  height: 3px;
  margin: 0 auto;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-friends {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box-lula,
.box-patrick,
.box-sirigueijo,
.box-plankton {
  position: relative;
  width: 28rem;
  height: 32rem;
  background-color: #128596;
  overflow: hidden;
}

.text-friends {
  padding: 2rem;
  position: absolute;
  top: -230px;
  width: 100%;
  height: 14rem;
  background-color: #bf7a59;
  opacity: 0.9;
  border-radius: 0px 0px 50px 50px;
  transition: 1s all;
}

.box-lula:hover .text-friends {
  top: 0px;
}

.box-patrick:hover .text-friends {
  top: 0px;
}

.box-sirigueijo:hover .text-friends {
  top: 0px;
}

.box-plankton:hover .text-friends {
  top: 0px;
}

.text-friends h3 {
  color: white;
  font-size: 2.5rem;
}

.text-friends p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
}

.box-lula figure,
.box-patrick figure,
.box-sirigueijo figure,
.box-plankton figure {
  width: 100%;
  text-align: center;
}

.box-lula img {
  width: 400px;
}

.box-patrick img {
  width: 360px;
}

.box-sirigueijo img {
  width: 420px;
  object-fit: cover;
}

.box-plankton img {
  width: 460px;
}

.btn-friends {
  position: relative;
  bottom: 28px;
  background-color: #bf7a59;
  color: white;
  border: none;
  padding: 0.8rem;
  width: 10rem;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  padding: 2rem;
  width: 100%;
  background-color: #128596;
}

.box-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box-footer p {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  width: 400px;
}

/* Aqui começa o @media */
@media (max-width: 1190px) {
  .box-information {
    top: 3rem;
  }
}

@media (max-width: 940px) {
  .box-information {
    width: 90%;
  }
}

@media (max-width: 630px) {
  .navigation {
    display: none;
  }

  .fig-btn {
    display: flex;
  }

  .container {
    justify-content: space-around;
  }

  .fig-logo {
    position: relative;
    right: 10%;
  }

  .fig-btn img {
    width: 40px;
  }

  .box-information {
    text-align: center;
    left: 0rem;
    width: 100%;
  }

  .box-information ul {
    text-align: start;
    position: absolute;
    top: 6rem;
    right: 0px;
    width: 50%;
  }

  .box-information ul li {
    font-size: 1.5rem;
  }

  .box-information h1 {
    font-size: 3rem;
  }

  .box-img {
    text-align: center;
  }

  .box-img img {
    position: relative;
    width: 100%;
    left: -15rem;
  }

  .box-footer {
    flex-direction: row-reverse;
  }

  .box-footer p {
    font-size: 0.7rem;
    width: 200px;
  }
}

@media (max-width: 475px) {
  .box-lula,
  .box-patrick,
  .box-sirigueijo,
  .box-plankton {
    width: 100%;
    height: 32rem;
  }

  .box-lula img {
    width: 100%;
  }

  .box-patrick img {
    width: 100%;
  }

  .box-sirigueijo img {
    width: 100%;
  }

  .box-plankton img {
    width: 100%;
  }

  .line {
    display: none;
  }
}

@media (max-width: 360px) {
  .box-footer p {
    font-size: 0.5rem;
    width: 100px;
  }
}
